<%= form_with url: login_path, scope: :user do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username, required: true %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.password_field :password, required: true %>
  </div>
  <%= form.submit "Sign In" %>
  <a href="<%= new_user_path %>">Sign up</a>
<% end %>