<%= form_with(model: user) do |form| %>
  <%= render partial: "shared/errors", locals: { object: user } %>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username, required: true %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password, required: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
