<div id="<%= dom_id user %>">
  <p>
    <strong>Id:</strong>
    <%= user.id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Signature:</strong>
    <%= user.signature %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= user.created_at %>
  </p>

  <p>
    <strong>Last login:</strong>
    <%= user.last_online %>
  </p>

  <p>
    <strong>Has permission:</strong>
    <%= user.has_permission ? 'yes' : 'no' %>
  </p>

</div>
