<%= form_with(model: board_thread) do |form| %>
  <% if board_thread.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(board_thread.errors.count, "error") %> prohibited this board_thread from being saved:</h2>

      <ul>
        <% board_thread.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :id, style: "display: block" %>
    <%= form.number_field :id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :forum_id, style: "display: block" %>
    <%= form.number_field :forum_id %>
  </div>

  <div>
    <%= form.label :is_restricted, style: "display: block" %>
    <%= form.check_box :is_restricted %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
