<h1>Editing board thread</h1>

<%= render "form", board_thread: @board_thread %>

<br>

<div>
  <%= link_to "Show this board thread", @board_thread %> |
  <%= link_to "Back to board threads", board_threads_path %>
</div>
