<p style="color: green"><%= notice %></p>

<h1>Board threads</h1>

<div id="board_threads">
  <% @board_threads.each do |board_thread| %>
    <%= render board_thread %>
    <p>
      <%= link_to "Show this board thread", board_thread %>
    </p>
  <% end %>
</div>

<%= link_to "New board thread", new_board_thread_path %>
