<p style="color: green"><%= notice %></p>

<%= render @board_thread %>

<div>
  <% @board_thread.thread_messages.each do |message| %>
  <div class="message">
  <p><a href="<%= user_path(message.user) %>"><%= message.user.username %></a> @ <%= message.created_at %></p>
  <p><%= message.message %></p>
    <% if message.user.signature %>
    <br>
    <p><%= message.user.signature %></p>
    <% end %>
    <% if message.image.attached? %>
    <%= image_tag url_for(message.image) %>
    <% end %>
    </div>
  <% end %>
  <a href="<%= new_board_board_thread_thread_message_path(@board_thread.board, @board_thread) %>">Add message</a>
</div>
