<% @boards.each do |board| %>
<div class="board">
  <h3><%= board.name %></h3>
  <% board.board_threads.each do |th| %>
  <div class="thread">
    <h4><%= "[lock]" if th.is_restricted? %><a href="<%= board_board_thread_path(board, th) %>"><%= th.name %></a></h4>
    <p><%= th.description %></p>
  </div>
  <% end %>
</div>
<% end %>
