<%= form_with(model: thread_message, url: board_board_thread_thread_messages_path) do |form| %>
  <% if thread_message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(thread_message.errors.count, "error") %> prohibited this thread_message from being saved:</h2>

      <ul>
        <% thread_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :message, style: "display: block" %>
    <%= form.text_area :message %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
