<div id="<%= dom_id thread_message %>">
  <p>
    <strong>User:</strong>
    <%= thread_message.user_id %>
  </p>

  <p>
    <strong>Thread:</strong>
    <%= thread_message.board_thread_id %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= thread_message.message %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= thread_message.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= thread_message.updated_at %>
  </p>

</div>
