<h1>Editing thread message</h1>

<%= render "form", thread_message: @thread_message %>

<br>

<div>
  <%= link_to "Show this thread message", @thread_message %> |
  <%= link_to "Back to thread messages", thread_messages_path %>
</div>
