<p style="color: green"><%= notice %></p>

<h1>Thread messages</h1>

<div id="thread_messages">
  <% @thread_messages.each do |thread_message| %>
    <%= render thread_message %>
    <p>
      <%= link_to "Show this thread message", thread_message %>
    </p>
  <% end %>
</div>

<%= link_to "New thread message", new_thread_message_path %>
