<p style="color: green"><%= notice %></p>

<%= render @thread_message %>

<div>
  <%= link_to "Edit this thread message", edit_thread_message_path(@thread_message) %> |
  <%= link_to "Back to thread messages", thread_messages_path %>

  <%= button_to "Destroy this thread message", @thread_message, method: :delete %>
</div>
