<%= form_with(model: personal_message) do |form| %>
  <% if personal_message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(personal_message.errors.count, "error") %> prohibited this personal_message from being saved:</h2>

      <ul>
        <% personal_message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_from_id, style: "display: block" %>
    <%= form.number_field :user_from_id %>
  </div>

  <div>
    <%= form.label :user_to_id, style: "display: block" %>
    <%= form.number_field :user_to_id %>
  </div>

  <div>
    <%= form.label :message, style: "display: block" %>
    <%= form.text_field :message %>
  </div>

  <div>
    <%= form.label :created_at, style: "display: block" %>
    <%= form.datetime_field :created_at %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
