<div id="<%= dom_id personal_message %>">
  <p>
    <strong>User from:</strong>
    <%= personal_message.user_from_id %>
  </p>

  <p>
    <strong>User to:</strong>
    <%= personal_message.user_to_id %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= personal_message.message %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= personal_message.created_at %>
  </p>

</div>
