<h1>Editing personal message</h1>

<%= render "form", personal_message: @personal_message %>

<br>

<div>
  <%= link_to "Show this personal message", @personal_message %> |
  <%= link_to "Back to personal messages", personal_messages_path %>
</div>
