<p style="color: green"><%= notice %></p>

<h1>Personal messages</h1>

<div id="personal_messages">
  <% @personal_messages.each do |personal_message| %>
    <%= render personal_message %>
    <p>
      <%= link_to "Show this personal message", personal_message %>
    </p>
  <% end %>
</div>

<%= link_to "New personal message", new_personal_message_path %>
