<p style="color: green"><%= notice %></p>

<%= render @personal_message %>

<div>
  <%= link_to "Edit this personal message", edit_personal_message_path(@personal_message) %> |
  <%= link_to "Back to personal messages", personal_messages_path %>

  <%= button_to "Destroy this personal message", @personal_message, method: :delete %>
</div>
